<div class="jumbotron"><h1>QUOTES</h1></div>
<div class="container">
<div class="row">
<div class="col-md-6 form">
<app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
<div class="col-md-6 quote">
<ul>
<div *ngFor='let quote of quotes;let i=index'>
  <li id="{{i}}" appUnderline>{{quote.name}}due on {{quote.completeDate|date|uppercase}}</li>
  <app-vote></app-vote>
  <button class="btn btn-primary" (click)='toogleDetails(i)' class="btn info">more-details</button>
  <app-quote-details *ngIf="quote.showAuthor" [quote]='quote'
  (isComplete)='deleteQuotes($event,i)'></app-quote-details>
</div>
</ul>
</div>
</div>
</div>
